<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-saclke=1"/>
    <title>YoseTheGame</title>
    <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/cosmo/bootstrap.min.css" rel="stylesheet">
</head>
    <body>
        
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="../" class="navbar-brand">YoseTheGame</a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li>
                            <a id="repository-link" href="https://github.com/lurumad/yosethegame">Github</a>
                        </li>
                        <li>
                            <a id="contact-me-link" href="http://www.linkedin.com/in/luisruizpavon">About me</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="start">Start <span class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="start">
                                <li><a id="ping-challenge-link" href="http://yosethegame.cloudapp.net/ping">Ping</a></li>
                            </ul>
                            <ul class="dropdown-menu" aria-labelledby="start">
                                <li><a id="primeFactors-challenge-link" href="http://yosethegame.cloudapp.net/primeFactors/ui">Prime factors</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="start">Prime factors <span class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="start">
                                <li><a id="primeFactors-challenge-link" href="http://yosethegame.cloudapp.net/primeFactors/ui">Form</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="page-header" id="banner">
                <div class="row">
                    <h1 id="title">Prime factors UI</h1>
                    <fieldset>

                        <!-- Form Name -->
                        <legend id="invitation">Enter a number to descomposed into prime factors</legend>

                        <!-- Text input-->
                        <div class="control-group">
                            <label class="control-label" for="number">Number</label>
                            <div class="controls">
                                <input id="number" name="number" type="text" placeholder="Enter a number" class="input-xlarge" required="">
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="control-group">
                            <label class="control-label" for="calculate"></label>
                            <div class="controls">
                                <button id="go" name="calculate" class="btn btn-primary">Calculate</button>
                            </div>
                        </div>
                        
                        <div id="result" class="control-group">
                            <p>Result:</p>
                            <div style="display: none" id="success" class="alert alert-success">
                                <p></p>
                            </div>
                            <div style="display: none" id="error" class="alert alert-danger">
                                <p></p>
                            </div>
                        </div>
                    </fieldset>

                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#go').click(function () {
                    var success = $('.alert-success');
                    var error = $('.alert-danger');
                    error.hide();
                    success.hide();

                    var number = $('#number').val();

                    $.getJSON('/primeFactors?number=' + number).then(function (data) {
                        if (data.error) {
                            error.find('p:first').html(JSON.stringify(data));
                            error.show();
                        } else {
                            success.find('p:first').html(data.number + ' = ' + data.decomposition.join(' x '));
                            success.show();
                        }
                    });
                });
            });
        </script>
    </body>
</html>